<!DOCTYPE html>
<html lang="en">
<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

  * {
    box-sizing: border-box;
  }

  body {
    padding: 20px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

  main {
    padding: 1rem;
    margin: auto;
  }

button {
  font: inherit;
  border: 1px solid #0b83ae;
  color: #0b83ae;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover,
button:active {
  background-color: #0b83ae;
  color: white;
}

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

</style>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
{{#if users}}
    <th>Actions</th>
  </tr>
  {{#each users}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td>{{this.email}}</td>
    <td>
      <button onclick="handleOnClick({{this.id}})" name="edit">Edit</button>
      <button onclick="handleOnClick({{this.id}})" name="delete">Delete</button>
    </td>
  </tr>
  {{/each}}
{{else}}
  </tr>
  <tr>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
  </tr>
{{/if}}
</table>
<button onclick="window.location.href='/'">Go Back</button>
<script>
  function handleOnClick(id) {
    const name = event.target.name
    if (name === 'delete') {
      fetch(`/users/${id}`, {
        method: 'DELETE'
      })
    }

    {{!-- if (name === 'edit') {
      fetch()
    } else if (name === 'delete') {
      fetch()
    } --}}
  }
</script>